<div class="row">
	<div class="col-sm-12">
		<mat-card>
			<div class="row">
				<div class="col-sm-10">
					<h4 class="title">Products</h4>
					<p class="text-muted">Holis</p>
				</div>
				<div class="col-sm-2">
					<a routerLink="new" class="btn btn-primary btn-block">New Product</a>
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">First</th>
						<th scope="col">Last</th>
						<th scope="col">Handle</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</mat-card>
	</div>
</div>