<div class="row">
	<div class="col-sm-12">		
		<mat-card>
			<h4 class="title">New Product</h4>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<input matInput placeholder="Name" value="">
						</mat-form-field>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<input matInput placeholder="Name" value="">
						</mat-form-field>
					</div>
				</div>
			</div>
		</mat-card>
	</div>
</div>