.tax-graph{
	background-image: linear-gradient(45deg,#843cf7,#38b8f2)!important;
	color: #fff;
}
.cost-graph{
	background-image: linear-gradient(45deg,#ee0979,#ff6a00)!important;
	color: #fff;
}
.sales-graph{
	background-image: linear-gradient(45deg,#004b91,#78cc37)!important;
	color: #fff;
}
.earning-graph{
	background-image: linear-gradient(45deg,#9b3cb7,#ff396f)!important;
	color: #fff;
}