<div class="row">
	<div class="col-sm-3">
		<mat-card class="tax-graph">Simple card</mat-card>
	</div>
	<div class="col-sm-3">
		<mat-card class="cost-graph">Simple card</mat-card>
	</div>
	<div class="col-sm-3">
		<mat-card class="sales-graph">Simple card</mat-card>
	</div>
	<div class="col-sm-3">
		<mat-card class="earning-graph">Simple card</mat-card>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<mat-card>
			<h4 class="title">Products Sales</h4>
			<x-chartist
      [type]="type"
      [data]="data"
      [options]="options"
      [events]="events"
    ></x-chartist>
		</mat-card>
	</div>
</div>