<nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<!--<img src="assets/images/logo_delivery_white.png" alt="">-->
			</div>
			<div class="col-sm-5 offset-sm-7 menu">
				<ul>
					<li>
						<a href="">Inicio</a>
					</li>
					<li>
						<a href="">Caracteristicas</a>
					</li>
					<li>
						<a href="">Contacto</a>
					</li>
					<li>
						<a routerLink="login">Ingresar</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div class="home-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>Ordering From<br>
				Suppliers Made<br> 
				Simple.
			</h1>
			<h6>The secret weapon of the world’s top kitchens.<br> By invitation only.</h6>
		</div>
		<div class="col-sm-6">
			<img src="assets/images/devices.png" alt="">
		</div>
	</div>
</div>
<div class="home-sample">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<img style="width: 90%; max-width: 100%; margin: 0 auto; display: block;" src="https://assets.website-files.com/5bd888a51cab6c3a4b31261f/5c80e622065a7bce71ebf41f_App_screen1-p-1080.png" alt="">
			</div>
			<div class="col-sm-4 offset-sm-1">
				<h1 class="text-center">Intuitively Simple</h1>
				<p>It's 2019, time to forget paper order guides. Choco is so intuitive that even your toddler could place your kitchen orders (although they shouldn’t).</p>
			</div>
		</div>
	</div>
</div>
<div class="home-help">
	<div class="container">
		<div class="col-sm-12">
			<h1 class="text-center">
				Deliver o Request
			</h1>
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident consectetur sequi, laudantium illo atque ducimus libero pariatur temporibus nobis placeat autem, magni quis numquam odit perferendis delectus, molestias qui impedit?</h3>
		</div>
	</div>
</div>
<div class="home-sample">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 offset-sm-1">
				<h1 class="text-center">Intuitively Simple</h1>
				<p>It's 2019, time to forget paper order guides. Choco is so intuitive that even your toddler could place your kitchen orders (although they shouldn’t).</p>
			</div>
			<div class="col-sm-6 offset-sm-1">
				<img style="max-width: 100%; margin: 0 auto; display: block;" src="https://assets.website-files.com/5bd888a51cab6c3a4b31261f/5c80e622065a7bce71ebf41f_App_screen1-p-1080.png" alt="">
			</div>
		</div>
	</div>
</div>
<div class="home-contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<img style="width: 90%; max-width: 100%; margin: 0 auto; display: block;" src="https://assets.website-files.com/5bd888a51cab6c3a4b31261f/5c80e622065a7bce71ebf41f_App_screen1-p-1080.png" alt="">
			</div>
			<div class="col-sm-5">
				<h3 class="text-center">Contactanos</h3>
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Nombre Completo</mat-label>
						<input matInput placeholder="">
					</mat-form-field>
				</p>
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Email</mat-label>
						<input matInput placeholder="">
					</mat-form-field>
				</p>
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Teléfono</mat-label>
						<input matInput placeholder="">
					</mat-form-field>
				</p>
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Comentarios</mat-label>
						<textarea matInput name="" id="" cols="30" rows="4"></textarea>
					</mat-form-field>
				</p>
				<p class="text-center">
					<button mat-raised-button color="primary"><span class="typcn typcn-arrow-left"></span> Enviar</button>
				</p>
			</div>
		</div>
	</div>
</div>